

.main-header .logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: #27262A;
    float: left;
    margin: .5em 0;
}

.main-header .logo span {
    color: #ff4264;
}

.main-header nav {
  float: right;
}

.main-header nav .call-to-action {
    display: none;
}

.main-header nav .open {
    cursor: pointer;
    width: 30px;
    float: right;
    margin-top: 1em;
}

.main-header nav .close {
    display: none;
    cursor: pointer;
    width: 30px;
    position: relative;
    float: right;
    margin-top: 2em;
    z-index: 1;
}

.main-header nav ul {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #ff4264;
    margin: auto;
    padding: 8.5em 1em;
    box-sizing: border-box;
}

.main-header nav ul a {
    font-size: .875em;
    color: #eeeff0;
    font-weight: 600;
    display: block;
    margin-bottom: .5em;
}

.main-header nav ul a img {
    height: 7px;
    margin-left: .5em;
}

.main-header nav ul a img:last-of-type {
    display: none;
}

/* Media Queries */

@media only screen and (min-width: 767px) {

    .main-header {
        height: 100px;
        padding: 0 2em;
    }

    .main-header .logo {
        font-size: 2.2em;
        margin: .6em .3em;
    }

    .main-header nav .open {
        width: 40px;
        margin-top: 1.8em;
    }

    .main-header nav .call-to-action {
        display: inline-block;
        padding: 1.7em 1.2em;
    }    

    .main-header nav .call-to-action button {
        border-style: none;
        color: #fff;
        background-color: #ff4264;
        height: 35px;
        width: 90px;
        border-radius: 25px;
        margin-right: 1em;
        box-shadow: 0 0 25px rgba(0,0,0,.3);
    }

    .main-header nav .call-to-action button:first-of-type {
        background: no-repeat;
        color: #ff4264;
        margin-right: 0;
        box-shadow: none;
    }
    .main-header nav ul {
       text-align: center;
    }
}


@media only screen and (min-width: 1279px) {
    .main-header {
        width: 92.1875%;
        margin: 0 auto;
        border-radius: 0 0 5px 5px;
    }

    .main-header nav .open {
        display: none;
    }

    .main-header nav {
        width: 100%;
        float: none;
    }

    .main-header nav ul {
        position: relative;
        display: inline-block;
        width: 62%;
        height: 100px;
        padding: 40px 0;
        padding-left: 4.3em;
        background: transparent;
    } 

    .main-header nav ul a {
        font-size: .8em;
        color: #27262A;
        float: left;
        height: 62px;
        margin: 0;
        margin-left: 2.5em;
        box-sizing: border-box;
    }

    .main-header nav ul a img:first-of-type {
        display: none;
    }

    .main-header nav ul a img:last-of-type {
        display: inline;
    }

    .main-header nav .call-to-action {
        float: right;    
        padding: 1.7em 0em;
    }
}